/* CSS FOR INTERNET EXPLORER 8 & BELOW */
#sidebar ul.sidebar li a
{
	padding: 7px 0px 7px 19px;
}

#sidebar ol.sidebar li a
{
	padding: 7px 0px 7px 0px;
}

#footer_row1 #footer_column3 ul li
{
	margin: 0px 5px 5px 0px;
	padding: 0px;
}

#content .featured_work_heading,
#content #featured_work_wrapper,
#content .home_previous,
#content .home_next
{
	display: none;	
}