/* CSS FOR INTERNET EXPLORER 7 + */
#sidebar ul.sidebar li a
{
	padding: 7px 0px 7px 19px;
}

#sidebar ol.sidebar li a
{
	padding: 7px 0px 7px 0px;
}

#footer_row1 #footer_column2 ul li
{
	margin: 0px 20px 10px 0px;
}

#footer_row1 #footer_column3 ul li
{
	margin: 0px 13px 10px 0px;
}