/**************************************************************************
FONT MIXINS
**************************************************************************/

.font-CodeProDemoRegular()
{
	font-family: 'CodeProDemoRegular', Georgia;
	font-weight: normal;
	font-style: normal;
}

.font-ExpresswayRegular()
{
	font-family: 'ExpresswayRegular', Georgia;
	font-weight: normal;
	font-style: normal;
}

.font-flexslider-icon()
{
	font-family: 'flexslider-icon';
	font-weight: normal;
	font-style: normal;
}

.font-Georgia()
{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-style: normal;
}