/**************************************************************************
WRAPPER
**************************************************************************/

.wrapper
{
	/* MOBILE */
	@media only screen and (max-width: @screen-mobile-max)
	{
		width: 100%;
	}
	
	/* TABLET */
	@media only screen and (min-width: @screen-tablet-min) and (max-width: @screen-tablet-max)
	{
		width: 748px;
	}
	
	/* DESKTOP */
	@media only screen and (min-width: @screen-desktop-min) and (max-width: @screen-desktop-max)
	{
		width: 1000px;
	}
	
	/* LARGE DESKTOP */
	@media only screen and (min-width: @screen-desktop-large-min)
	{
		width: 1400px;
	}
}

/* PAGE WRAPPER HAS AN ADDITIONAL 10PX WIDTH FOR SHADOWS */
.page-wrapper
{
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	
	text-align: left;

    /* MARGIN FOR STICKY MOBILE MENU */
    &.sticky-mobile-margin
    {
        margin-top: 120px;
    }

	/* MOBILE */
	@media only screen and (max-width: @screen-mobile-max)
	{
		width: 100%;
	}

    /* TABLET & WIDER */
    @media only screen and (min-width: @screen-tablet-min)
    {
        padding-left: 10px;
    }
	
	/* TABLET */
	@media only screen and (min-width: @screen-tablet-min) and (max-width: @screen-tablet-max)
	{
		width: 758px;
	}

	/* DESKTOP */
	@media only screen and (min-width: @screen-desktop-min) and (max-width: @screen-desktop-max)
	{
		width: 1010px;
	}
	
	/* LARGE DESKTOP */
	@media only screen and (min-width: @screen-desktop-large-min)
	{
		width: 1410px;
	}
}